*~
elpa
smex-items
auto-save-list
ido.last
projectile-bookmarks.eld
recentf
ede-projects.el
server
projectile.cache
url
session.*
straight
transient
var
.*.desktop*
history
.dap-*
.lsp-session*
filesets-cache.el
/eln-cache/
places
.DS_Store
.apl.history
.org-id-locations
bookmarks
eshell/lastdir
org-roam.db
